In [ ]:
import pandas as pd
dados = pd.read_excel('arquivo1.xlsx')

In [ ]:
dados.head(6)

   Números Letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f

In [ ]:
dados2 = pd.read_csv('/content/drive/My Drive/ESTUDOS/Python/Machine Learning/Datasets/athlete_events.csv')

In [ ]:
dados2.head(5)

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]