Tuple é uma lista imutavel, sendo assim não é possivel alterar os valores contidos nela

In [ ]:
list = [2, 3, 7]

In [ ]:
list[0] = 20

In [ ]:
print(list)

[20, 3, 7]

In [ ]:
tupla = (6, 8, 4)

In [ ]:
tupla[0]

6

In [ ]:
tupla[0] = 30

TypeError: ignored

In [ ]:
del list[0]

In [ ]:
print(list)

[3, 7]

In [ ]:
del tupla[1]

TypeError: ignored

In [ ]:
tupla.append(10)

AttributeError: ignored

In [ ]:
nova_tuple = tuple(list)

In [ ]:
print(nova_tuple)

(3, 7)

In [ ]:
type(nova_tuple)

tuple

In [ ]:
numero = (3)

In [ ]:
type(numero)

int

Para a criação de uma tupla de um unico elemento é necessario colocar uma virgula na frente, caso não coloque o python vai entende como uma variavel simples e atribuir o tipo simples como inteiro ou string

In [ ]:
numero = (3,)

In [ ]:
type(numero)

tuple